<div id="<%= dom_id station %>">
  <p>
    <strong>Code:</strong>
    <%= station.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= station.province %>
  </p>

  <p>
    <strong>Altitude:</strong>
    <%= station.altitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= station.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= station.longitude %>
  </p>

  <p>
    <strong>Synop code:</strong>
    <%= station.synop_code %>
  </p>

</div>
