<div id="<%= dom_id weather_observation %>">
  <p>
    <strong>Weather station:</strong>
    <%= weather_observation.weather_station_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= weather_observation.date %>
  </p>

  <p>
    <strong>Avg temp:</strong>
    <%= weather_observation.avg_temp %>
  </p>

  <p>
    <strong>:</strong>
    <%= weather_observation.  %>
  </p>

</div>
